<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - spotfei</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="~/spotfei.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="d-md-block sidebar">
            <h1>Spotfei</h1>
            <div class="nav flex-column">
                <a class="nav-link" href="#">Início</a>
                <a class="nav-link" href="#">Buscar</a>
                <a class="nav-link" href="#">Sua Biblioteca</a>
                <a class="nav-link" href="#">Playlists</a>
                <a class="nav-link" href="#">Configurações</a>
            </div>
        </nav>
    </header>

    <main role="main" class="mainContent">
        @RenderBody()
    </main>


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - spotfei - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
