@{
    ViewData["Title"] = "Home Page";
}




    
<main class="col-md-9 col-lg-10 px-md-4 py-4">
        <h2 class="mb-4">Bem vindo ao <span>Spotfey</span></h2>
        <p class="text-muted-custom mb-5">Explore playlists personalizadas, descubra novos artistas e curta suas músicas favoritas.</p>


        <div class="row g-4">
          <div class="col-md-6 col-lg-4">
            <div class="card playlist-card p-3">
              <h5 class="playlist-title">Top Hits 2025</h5>
              <p class="text-muted-custom">As músicas mais tocadas do momento para você curtir agora.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="card playlist-card p-3">
              <h5 class="playlist-title">Chill & Relax</h5>
              <p class="text-muted-custom">Relaxe com essa seleção de músicas calmas e envolventes.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="card playlist-card p-3">
              <h5 class="playlist-title">Descobertas da Semana</h5>
              <p class="text-muted-custom">Novos sons que combinam com seu gosto. Atualizado toda segunda!</p>
            </div>
          </div>
        </div>
      </main>

    </div>
  </div>

