body{
    flex-direction: column;
}

main{
    margin: auto;
    width: 85vw;
    display: flex;
    justify-content: space-around;
}



label{
    font-size: 24px;
}

input[type=text]{
    text-transform: uppercase;
    text-align: center;
    color: black;
    background-color: #95f1d6;
    width: 90%;
    border-radius: 5px;
    border: none;
    height: 30px;
    margin-bottom: 20px;
    background-color: #95f1d6;
}
input[type=submit]{
    width: 90%;
}

.label-file {
    background-color: rgba(12, 214, 147, 0.801);
    color: rgb(5, 32, 23);
    width: 90%;
    padding-left: 1%;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px; 
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: .5px;
    margin-bottom: 20px;
}

form{
    margin: auto;
    width: 35% !important;
    height: 35vh;
}

