body{
    background-image: url(../assets/background.png);
    background-color: black;
    background-size:cover;
    font-family: sans-serif;
    background-repeat: no-repeat;
}



h2, h3, p, label, input{
    color: rgba(255, 255, 255, 1);
}

.hidden{
    opacity: 0;
    float: center;
}

.default-div{
    display: block;
    margin: auto;
    border-radius: 10px;
    background-color: #00213C;

}

#login-div{
    width: 25%;
    height: 300px;
    margin-top: 300px;
    position: relative;
}

#login-div h2{
    display: block
    ;
    margin: 10px;
}

#login-div form{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    margin: auto;
    font-size: 20px;
}

#login-div form input{
    display: block;
}

.submit-button{
    width: 100%;
}