@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;500;700;800&display=swap');


body{
    background-color: #1A2130;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    
}

h1, h2, h3, label{
    color: #F1F8E8;
    font-family:  'Mukta', sans-serif;
}

.hidden{
    position: fixed;
    top: 0;
    opacity: 0;
}

