@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@400;700&display=swap');

body{
    background: none!important;
    background-color: #222831!important;
    display: flex;
    flex-direction: column!important;
}

h1, h2, h3, p{
    color: #F1F8E8;
    font-family:  'Mukta', sans-serif;
    margin: 0;
}

a{
    color: aquamarine;
    text-decoration: none;
}

#first-view{
    display: flex;
}

#first-content{
    border: solid wheat;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#first-content img{
    width: 50%;
}

#header-last-music{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #37404d;
    border-radius: 13px; 
    min-width: 30vw;
    position: relative;
    box-sizing: border-box;
    padding: 1%;
}


#header-last-music i{
    position: absolute ;
    bottom: 5%;
    right: 3%;
    font-size: 40px;
    color: white;
}
#header-last-music i:hover{
    color: aquamarine;
    transition: all .3s;
}

#header-last-music-info{
    display: flex;
    margin-left: 2vw;
    margin-bottom: 1vh;
}

#header-last-music img{
    height: 150px;
    width: 150px;
}

#header-last-music div{
    margin-left: 1vw;
}

/* painel de musicas */

.music-container{
    height: 500px;
    display: block;
    width: 70%;
    border:solid 1px;
    
}

footer{
    position: static;
    width: 100vw;
    box-sizing: border-box;
    padding: 2%;
    background-color: #000000;
}

footer ul{
    list-style: none;
}