<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Spotfey</title>
    <link rel="stylesheet" href="../static/CSS/login.css">
    
<body>
    
    <div class="default-div" id="login-div">
        <h2 class="sla">LOGIN</h2>
        <!-- <img src="../static/assets/pirate.png" alt="pirate-icon"> -->
        <form action="/success" method="post">
            <label for="">Nome de usuário
                <input type="text" name="form-form-login">
            </label>
            <label>Senha
                <input type="text" name="form-login-password" required>
            </label>
            <input type="submit" value="Entrar" class="submit-button" class="submit-button" required>
        </form>
    </div>

    <div class="hidden">
        <h3>vamos começar</h3>
        <form action="/success" method="post" enctype="multipart/form-data" id="js-register-form">
    
            <label>Crie um usuário
                <input type="text" name="form_user" required>
            </label>
            <br>
            <br>
            <label>
                Informe seu e-mail
                <input type="email" name="form_email" >
            </label>
            <br>
            <br>
            <label>
                POR FAVOR NÃO USE ISSO AGORA, coloque uma foto no seu perfil
                <input type="file" name="form_profile_picture">
            </label>
            <br>
            <br>
            <label>
                Crie sua senha
                <input type="password" name="form_password" required>
            </label>
            <br>
            <br>
            <label>
                Confirme sua senha
                <input type="password" name="form_password2" required>
            </label>
    
            <input type="submit" value="Salvar Dados" id="js-confirm-register">
        </form>
    </div>
    <script src="{{ url_for('static', filename='JS/utils.js') }}"></script>

</body>
</html>