<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Spotfey</title>
    <link rel="stylesheet" href="{{url_for('static', filename='CSS/utils.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='CSS/login.css')}}">
    <link rel="shortcut icon" type="imagex/png" href="../static/assets/imagem de música.ico">
</head>
<body>
    <div id="content-div">
        <h1>Bem vindo ao  Spotfey</h1>
        <p>Um projeto de <strong><a href="https://www.linkedin.com/in/vencigueri/" target="_blank">Jean Vencigueri</a></strong> para te fazer aproveitar e desfrutar de músicas do seu próprio estilo e gosto</p>
        <img src="../static/assets/Music.gif" alt="imagem de pessoa escutando músicas">
    </div> 
    <div id="form-div">
        <div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="alert-danger" role="alert">
                        {% for message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
        </div>
        <div class="switch-visibility">
            <span>Não possui <strong>login?</strong></span>
            <button class="switch-button js-switch-button">Clique aqui para Se registrar</button>
        </div>
        <div class="default-div" id="login-div">
        
            <h2 class="sla">Login</h2>
        
            <form action="{{url_for('login')}}" method="post">
                <label for="">Nome de usuário</label>
                <input type="text" name="user-form-login" placeholder="Digite seu nome de usuário" required>
                
                <label>Senha</label>
                <input type="password" name="password-form-login" placeholder="Digite sua senha" required>
                
                <input type="submit" value="Entrar" class="default-button" class="submit-button" required>
            </form>
        </div>

        <div class="switch-visibility">
            <span>Já possui um <strong>login?</strong></span>
            <button class="switch-button js-switch-button">Clique aqui para Entrar</button>
        </div>
        <div class="default-div" id="register-div">
            <h2>Vamos começar</h2>
            <form action="/register" method="post" enctype="multipart/form-data" id="js-register-form">
        
                <label>
                    Crie um usuário
                </label>    
                <input id="1" type="text" name="form_user" placeholder="usuário" required>
                
                <label>
                    Informe seu e-mail
                </label>   
                <input type="email" name="form_email" placeholder="e-mail">

                <label>Foto de perfil</label>
                <label for="file-upload" class="label-file">Coloque uma foto no seu perfil</label>
                <input id="file-upload" class="input-file" type="file" name="form_profile_picture">
                <span id="file-name"></span>

                <label>
                    Crie sua senha
                </label>
                <input type="password" name="form_password" placeholder="senha" required>

                <label>
                    Confirme sua senha
                </label>
                <input type="password" name="form_password2" placeholder="confirmação" required>
        
                <input type="submit" value="Salvar Dados" class="default-button" id="js-confirm-register">
            </form>
        </div>
    </div>
    
    <script src="{{ url_for('static', filename='JS/utils.js') }}"></script>
</body>
</html>